<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["styles/main.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["DevQualX.Web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="@Assets["js/theme.js"]"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["js/validation.js"]"></script>
    <script src="@Assets["js/tabs.js"]"></script>
    <script src="@Assets["js/notifications.js"]"></script>
</body>

</html>
